SECRET_KEY=postgresql+psycopg://neondb_owner:npg_PuNK4bj7dYwL@ep-noisy-scene-a7hkgoza-pooler.ap-southeast-2.aws.neon.tech/chhatralay?sslmode=require&channel_binding=require
ADMIN_EMAIL=vithanivyom2@gmail.com
ADMIN_PASSWORD=Akshar@purushottam$1109
EMAIL_FROM=apcperth01@gmail.com
