DATABASE_URL=postgresql+psycopg://neondb_owner:npg_PuNK4bj7dYwL@ep-noisy-scene-a7hkgoza-pooler.ap-southeast-2.aws.neon.tech/chhatralay?sslmode=require&channel_binding=require
SECRET_KEY=1csdlcnd-4rsdcckjrnkv3435935scd
ADMIN_EMAIL=vithanivyom2@gmail.com
ADMIN_PASSWORD=Akshar@purushottam$1109
FRONTEND_URLS=http://localhost:5173
VITE_API_URL=https://apc-perth.onrender.com
